# Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle files
*.gradle
gradlew
gradlew.bat

# Compiled class files
*.class

# Log files
*.log

# Virtual machine crash logs
hs_err_pid*

# Android specific
bin/
gen/
out/
release/

# Dependencies
app/build/
.navigation/

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# NDK
obj/